<div class="book-summary">
    <!-- <div id="book-search-input" role="search">
        <input type="text" placeholder="Type to search" />
    </div> -->
    <nav role="navigation">
        <ul class="summary">
            {% if page.url == "/index.html" or page.url == "/" %}
            <li class="chapter active" data-level="1.1" data-path="{{site.baseurl}}">
            {% else %}
            <li class="chapter" data-level="1.1" data-path="{{site.baseurl}}">
            {% endif %}
                <a href="/">
                    {{ site.title | escape }}
                </a>
            </li>

            {% assign reversed_posts = site.posts | reverse | sort: "category"%}
            {% assign category = "" %}
            {% for post in reversed_posts %}
                {% if category != post.category %}
                <li class="divider"></li>
                <div class="chapter" data-level="1.1">{{post.category}}</div>
                {% assign category = post.category %}
                {% endif %}
                {% if page.url == post.url %}
                <li class="post active" data-level="1.2" data-path="{{site.baseurl}}{{post.url}}">
                {% else %}
                <li class="post" data-level="1.1" data-path="{{site.baseurl}}{{post.url}}">
                {% endif %}
                    <a href="{{site.baseurl}}{{post.url}}">
                        {{ post.title | escape }}
                    </a>
                    {% if site.toc.enabled %}
                        {% if page.url == post.url %}
                            {% include toc.html html=content h_min=site.toc.h_min h_max=site.toc.h_max %}
                        {% endif %}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </nav>
</div>